.basicCard {
  padding: 24px 14px;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #ebebeb;
  border-bottom: 0.5rem;
  cursor: pointer;
}
.customerCard {
  background-color: transparent;
}
.activeCustomerCard {
  background-color: #ecebeb;
  border-right-color: #585757;
  border-right-width: 3px;
}

.customerName {
  margin-top: 0;
  margin-bottom: 16px;
  color: #585757;
}

.customerCardDetails {
  color: #8b8a8a;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.customerCardDetails > span {
  font-weight: 500;
  padding: 10px 0;
}
